@model OnlineShopping.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Shopping Checkout";
}

<h2>Checkout Now</h2>

<p>
    Please enter your details and we will ship your goods right away!
</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    
        <h3>Ship To:</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Name:</label>
           
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            
        </div>

    <h3>Address:</h3>    
    <div class="form-group">
        <label>Line1:</label>
                @Html.EditorFor(model => model.Line1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Line1, "", new { @class = "text-danger" })
            </div>

        <div class="form-group">
            <label>Line2:</label>
                @Html.EditorFor(model => model.Line2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Line2, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>Line3:</label>
                @Html.EditorFor(model => model.Line3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Line3, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>City:</label>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>State:</label>
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>Zip:</label>
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>Country:</label>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.GiftWrap)
                        Gift Wrap these Item
                    </label>
                </div>
           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Complete Order" class="btn btn-primary" />
            </div>
        </div>
   
}


